//========Button colors============
$button-border_color: #19CAFF;
$button-color_hover:linear-gradient(88.5deg, #2693F5 -12.53%, #19CAFF 100.28%);

//========Text colors============
$text-default_color: #2B2B32;
$text-default_color-hover: #19CAFF;
$text-secondary_color: #818798