@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.scss';
@import './colors.scss';
@mixin smooth-transition($property: all, $duration: 0.3s, $timing: ease) {
  transition: $property $duration $timing;
}
@mixin button-primary {
  padding: 5px 20px 5px 20px;
  border-radius: 6px;
  border:2px solid;
  border-color:$text-default_color-hover ;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  cursor: pointer;
  @include smooth-transition(background,0.4s);
  background-color: white ;
  color:$text-default_color;
  &:hover{
    color: white;
    background: $button-color_hover;
    
  }
}
.container {
  max-width: 1200px;
}



//===========components css========
@import './menu.scss';
