.blog-post {
  h3 {
    color: $text-default_color-hover;
  }
}
.trial {
  .macbook {
    position: relative;
    z-index: 1;
    top: 5px;
  }
  .left {
    border-radius: 42px;
    background: radial-gradient(
      73.3% 67.28% at 26.99% 68.01%,
      #19caff 0%,
      rgba(25, 202, 255, 0) 100%
    );
  }
  .elipse28 {
    position: absolute;
    bottom: 0;
    left: -73px;
    z-index: 3;
  }
  .elipse30 {
    position: absolute;
    bottom: 27px;
    left: -55px;
    z-index: 10;
  }
  .title {
    color: var(--BG-modal, #2e3245);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
  }
  .description {
    color: var(--content-content-secondary, #818798);

    /* Regular/18 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: 28px; /* 155.556% */
  }
  .right-icon {
    position: absolute;
    width: 100%;
  }
  .slide-in-left {
    padding-left: 180px;
  }
  .background-right {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.testimonial {
  .title {
    color: var(--BG-modal, #2e3245);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
  }
  .swiper-slide {
    border-radius: 4px;
    border: 1px solid var(--Border-lightmode2, #6ebaff);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -62.16%,
      rgba(255, 255, 255, 0.32) 37.51%,
      rgba(255, 255, 255, 0.49) 99.76%
    );

    /* icon */
    backdrop-filter: blur(10px);
    width: 406px;
    height: 300px;
  }
  .bg-testimonial {
    position: absolute;
    left: 25%;
    bottom: 5%;
  }
  .swiper-pagination-bullet-active {
    background: linear-gradient(
      88deg,
      #2693f5 -12.53%,
      #19caff 100.28%
    ) !important;
  }
  .swiper-button-prev ::after,
  .swiper-button-next ::after {
    color: linear-gradient(88deg, #2693f5 -12.53%, #19caff 100.28%) !important;
  }
}
.contact-section {
  .title {
    color: var(--BG-modal, #2e3245);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
  }

  .description {
    color: var(--content-content-secondary, #818798);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  .left-icon {
    bottom: 20px;
  }
  .contact-right {
    border-radius: 4px;
    border: 1px solid var(--Border-lightmode2, #6ebaff);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -62.16%,
      rgba(255, 255, 255, 0.32) 37.51%,
      rgba(255, 255, 255, 0.49) 99.76%
    );
    width: 656px;
    height: 656px;
    padding: 14px 20px;
  }
  .right-icon1 {
    top: 0;
    right: 45%;
  }
  .right-icon2 {
    top: 30%;
    right: 50%;
  }
  .right-icon3 {
    top: 80%;
    right: 18%;
  }
}
