nav a {
  color: $text-default_color;
  @include smooth-transition(color);
  font-weight: $font-default_weight;
  line-height: $font-default_line-height;
  &:hover {
    color: $text-default_color-hover;
  }
}
nav .btn-demo {
  @include button-primary;
}
.menu-link {
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #0009;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.slider-right {
  background-image: url("/slide-logo-right.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 700px !important;
  background-size: contain;
}
.slider-left {
  background-image: url("/slide-logo-left.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100px !important;
  background-size: contain;
}

@keyframes slideInFromLeftCustom {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(278px);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .slider-content {
    animation: slideInFromLeftCustom 0.8s ease-out forwards;
  }
}

@media screen and (max-width: 768px) {
  .slider-container {
    height: 911px !important;
  }
}
.menu-drawer {
  z-index: 99;
}
.slider-container {
  background-image: url("/slide-background.png");
  height: 700px;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.slider-button {
  @include button-secondary;
  @include slider-button-hover;
}
.slider-button-detail {
  span {
    color: #2e3245;
  }
  a {
    color: $text-default_color-hover;
  }
}

a.active-link {
  color: #19caff;
}
