nav a {
  color: $text-default_color;
  @include smooth-transition(color);
  font-weight: $font-default_weight;
  line-height: $font-default_line-height;
  &:hover {
    color: $text-default_color-hover;
  }
}
nav .btn-demo {
  @include button-primary;
}
.menu-link {
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #0009;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.slider-right {
  background-image: url("/slide-logo-right.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 700px !important;
  background-size: contain;
}
.slider-left {
  background-image: url("/slide-logo-left.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100px !important;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .slider-content {
    transform: translateX(278px) !important;
  }
  .slider-container {
    background-image: url("/slide-background.png");
    height: 700px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
}
